@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    font-family: "poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}

:root {
    --main-color: #920606;
    --text-color: #f3f5fa;
    --bg-color: #0a0909;

}

body {
    background: var(--text-color);
    color: var(--bg-color);

}

header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 900;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 100px;
    transition: .5s;
    background: transparent;
    width: 100%;
}

.logo {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--bg-color);
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.logo .bx {
    font-size: 30px;
    color: var(--bg-color);
}

.navbar {
    display: flex;
    column-gap: 4rem;
}

.navbar li {
    position: relative;
}

.navbar a {
    font-size: 1rem;
    font-weight: 600;
    color: var(--bg-color);
}


.navbar a:hover::after {
    transform: translateY(0);
    opacity: 1;
}



.navbar a:hover::after,
.navbar .home-active::after {
    width: 100%;
}

#menu-icon {
    display: none;
    font-size: 25px;
    cursor: pointer;
    z-index: 1001;
}

.btn {
    padding: 0.7em 1.5em;
    background: none;
    border: 2px solid #fff;
    font-size: 15px;
    color: #131313;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    border-radius: 12px;
    background-color: rgb(226, 246, 180);
    font-weight: bolder;
    box-shadow: 0 2px 0 2px #000;
}

.btn:hover::before {
    transform: skewX(30deg) translate(150%, -50%);
    transition-delay: 0.1s;
}

.btn:active {
    transform: scale(0.9);
}

.container {
    width: 100%;
    min-width: 640px;
    position: relative;
    display: flex;
    align-items: center;
    background: rgba(0, 2, 11, 0.8);
}

img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}

.swiper-pagination-bullet {
    width: 8px !important;
    height: 6px !important;
    border-radius: 0.2rem !important;
    background: var(--bg-color) !important;
    opacity: 1 !important;
}

.swiper-pagination-bullet-active {
    width: 8px !important;
    background: var(--main-color) !important;
}

.home-text {
    z-index: 1000;
    padding: 0 150px;
    position: absolute;
    top: 30%;
}

.home-text span {
    color: var(--main-color);
    font-weight: 700;
    text-transform: uppercase;
}

.home-text h1 {
    color: var(--bg-color);
    /* font-size: 60px; */
    font-weight: 700;
    margin-bottom: 30px;
    line-height: 100px;
    font-size: 100px;
    color: transparent;
    -webkit-text-stroke: 1px #3a0606;
    background: url(./images2/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 10s linear infinite;
}

@keyframes back {
    100% {
        background-position: 2000px 0;
    }
}






