* {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.navbar {
  width: 100%;
  height: 50px;
  background-color: rgb(255, 255, 255);
  position: sticky;
  top: 0;
}

.navbar-container {
  display: flex;
  align-items: center;
  padding: 0 50px;
  height: 100%;
  color: rgb(231, 70, 70);
  font-family: "Sen", sans-serif;
}

.logo-container {
  flex: 1;
}

.logo {
  font-size: 30px;
  color: #080807;
}

.menu-container {
  flex: 6;
}

.menu-list {
  display: flex;
  list-style: none;
  cursor: pointer;
}

.menu-list a {
  list-style: none;
  text-decoration: none;
  color: rgb(16, 1, 1);
}

.menu-list a.active {
  color: rgb(227, 32, 32);
}

.menu-list-item {
  margin-right: 30px;
}

.menu-list-item.active {
  font-weight: bold;
}

.profile-container {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.profile-text-container {
  margin: 0 20px;
}

.profile-picture {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.toggle {
  width: 40px;
  height: 20px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.toggle-icon {
  color: goldenrod;
}


.sidebar {
  width: 50px;
  height: 100%;
  background-color: rgb(246, 243, 243);
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}

.left-menu-icon {
  color: rgb(14, 3, 3);
  font-size: 20px;
  margin-bottom: 40px;
}

.container {
  background-color: #f6fcfe;
  min-height: calc(100vh - 50px);
  color: rgb(11, 1, 1);
}

.content-container {
  margin-left: 50px;
}

.featured-content {
  height: 50vh;
  padding: 50px;
}

.featured-title {
  width: 200px;
}

.featured-desc {
  width: 500px;
  color: lightgray;
  margin: 30px 0;
}

.featured-button {
  background-color: #4dbf00;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-weight: bold;
  cursor: pointer;
}

.book-list-container {
  padding: 0 20px;
}

.book-list-wrapper {
  position: relative;
  overflow: hidden;
}

.book-list {
  display: flex;
  align-items: center;
  height: 300px;
  transform: translateX(0);
  transition: all 1s ease-in-out;
}

.book-list-item {
  margin-right: 30px;
  position: relative;
}

.book-list-item:hover .book-list-item-img {
  transform: scale(1.2);
  margin: 0 30px;
  opacity: 0.5;
}

.book-list-item:hover .book-list-item-title,
.book-list-item:hover .book-list-item-desc,
.book-list-item:hover .book-list-item-button {
  opacity: 1;
}

.book-list-item-img {
  transition: all 1s ease-in-out;
  width: 150px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
}

.book-list-item-title {
  background-color: #fffbfb;
  padding:  10px;
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  top: 0%;
  left: 50px;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.book-list-item-desc {
  background-color: #fffbfb;
  padding: 10px;
  font-size: 25px;
  position: absolute;
  top: 40%;
  left: 50px;
  width: 200px;
  opacity: 0;
  transition: 2s all ease-in-out;
}

.book-list-item-button {
  padding: 10px;
  background-color: #4dbf00;
  color: white;
  border-radius: 10px;
  outline: none;
  border: none;
  font-weight: 800;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  left: 50px;
  opacity: 0;
  transition: 1s all ease-in-out;
}


.muiten {
  font-size: 100px;
  position: absolute;
  top: 90px;
  right: 0;
  color: lightgray;
  opacity: 0.5;
  cursor: pointer;
}

.container.active {
  background-color: white;
}

.book-list-title.active {
  color: black;
}

.navbar-container.active {
  background-color: white;

  color: black;
}

.sidebar.active {
  background-color: white;
}

.left-menu-icon.active {
  color: black;
}

.toggle.active {
  background-color: black;
}




